main {
    display: block;
    position: relative;
}

    main > h3 {
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #241a1b;
    }
    
    
    main > h6{
        font-size: 15px;
        padding-top: 15px;
    }
